* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 12px 0;
    background-color: #e9ecee;
    border-bottom: 1px solid #cecfcf;
    margin-bottom: 50px;
}

.submenu {
    display: none;
    background-color: #e9ecee;
    position: absolute;
    left:0;
    width: 100%;
}

.menu > li {
    float: left;
    padding:12px;
    list-style: none;
    cursor: pointer;
    position: relative;
}

.menu > li a {
    text-decoration: none;
}

.menu li:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
    padding: 8px;;
}

.sobre img {
    max-width: 350px;
    width: 100%;
    margin-right: 30px;
}

.sobre {
    display: flex;
    align-items: center;
}

h2 {
    margin-bottom: 25px;
    border-bottom: solid 1px;
    padding-bottom: 10px;
}

.produtos {
    margin: 50px 0;
}

.cont-produto button {
    display: block;
    border: none;
    padding: 6px 8px;
    background-color: #da4b41;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin-top: 12px;
    width: 100%;
}

.cont-produto img {
   width: 100%;
}

.clear {
    clear: both;
}

.cont-produto P {
    font-size: 12px;
}

.grid-produtos {
    display: grid;
    grid-template-columns: repeat(4,24.25%);
    gap: 1%;
}

.menu-mobile button {
    display: none;
}

@media screen and (max-width:767px) {
    .grid-produtos {
        display: block;
    }
    .clear {
        clear: both;
    }
    .container {
        max-width: 90%;
    }

    .sobre {
        display: block;
    }

    .sobre img {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }

    header {
        padding: 12px 0;
        background-color: #e9ecee;
        border-bottom: 1px solid #cecfcf;
        margin-bottom: 20px;
    }

    header .container {
        display: block;
    }

    .submenu {
        display: block;
        background-color: #e9ecee;
        position: relative;
        left:0;
        width: 100%;
    }
    
    .menu > li {
    
        float: left;
        padding:12px;
        list-style: none;
        cursor: pointer;
        position: relative;
    }  
    
    
    .menu li:hover .submenu {
        display: block;
    }
    
    .submenu li {
        display: block;
        padding: 8px;;
    }

    .menu {
        display: none;
    }

    .menu-mobile {
        margin-top: 10px;
    }
    .menu-mobile button {
        display: block;
        padding: 5px 8px;
        border: none;
        background-color: black;
        color: #e9ecee;
        font-weight: bold;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .container {
        max-width: 90%;
    }
    .sobre {
        display: block;
    }

    .sobre img {
        max-width: 100%;
        height: 470px;
        object-fit: cover;
        margin-right: 0;
        margin-bottom: 20px ;
    }

    .grid-produtos {
        display: grid;
        grid-template-columns: repeat(2,49%);
        column-gap: 1%;
        row-gap: 5%;
    }

    .menu-mobile button {
        display: none;
    }

    
}



